# R specific
.Rhistory
.RData
.Rproj.user/
.Rproj
.Ruserdata

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak
*.old

# Output files
*.pdf
*.png
*.DS_Store

# Directories
data/PCAWG/
data/COSMIC/
vignettes/kidney_paprcc_wgd_false/
vignettes/liver_hcc_wgd_false/
vignettes/lung_scc_wgd_false/