# R specific
.Rhistory
.RData
.Rproj.user/
.Rproj
.Ruserdata

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak
*.old

# Output files
*.pdf
*.png
*.DS_Store

# Directories

# Vignettes
vignettes/Extra